/*container*/
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	width: 100vw;
}

@media screen and (max-width: 600px) {
	.container {
		flex-direction: column;
	}
}

.transitions-item {
	overflow: hidden;
	width: 100%;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 5em;
	font-weight: 800;
	text-transform: uppercase;
	will-change: transform, opacity, height;
	white-space: nowrap;
	cursor: pointer;
	line-height: 80px;
}
